[submodule "extern/nng-wolfssl"]
	path = extern/nng-wolfssl
	url = https://github.com/staysail/nng-wolfssl
[submodule "src/mqtt/mqtt-codec"]
	path = src/mqtt/mqtt-codec
	url = https://github.com/nanomq/mqtt-codec.git
