<footer class="nn-footer">
        <div class="level nn-footer-top mt-4 mb-0">
                <div class="level-left">
                        <a href="/">
                                <img width="54" src="/assets/image/NNg-black.png">
                        </a>
                </div>
                <div class="level-right">
                        <a class="nn-footer-email has-text-weight-medium" href="mailto:garrett@damore.org">
                                <img class="mr-1" src="/assets/image/footer-email.png" width="24">
                                Email: Garrett D'Amore</a>
                </div>
        </div>
        <div class="level mt-2">
                <div class="level-left">nanomsg™ and NNG™ are trademarks of Garrett D'Amore.</div>
                <div class="level-right nn-footer-copyright">© 2025 Garrett D'Amore and contributors.</div>
        </div>
</footer>
