<footer class="nn-footer">
        <div class="nn-footer-inner nn-tan">
                <div style="display: flex; flex-direction: row">
                        <div>NNG Reference Manual {{ page.version }}</div>
                        <div style="margin-left: auto">
                                <small>
                                        &copy; 2020 <a href="mailto:garrett@damore.org">Staysail Systems,
                                                Inc.</a>
                                        &copy; 2018 <a href="mailto:info@capitar.com">Capitar IT Group BV</a>
                                        <br />
                                        This document is supplied under the <a
                                                href="https://opensource.org/licenses/MIT">MIT License</a>.
                                        <br />
                                        nanomsg&trade; and NNG&trade; are <a
                                                href="https://nanomsg.org/trademarks.html">trademarks</a>
                                        of Garrett D'Amore.
                                </small>
                        </div>
                </div>
        </div>

</footer>