<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="top" style="position:relative; width:100%; top:0; left:0; background: white; z-index:999;">
<table width="100%" cellpadding=4 cellspacing=0 border=0 style="border-spacing:0;border:0;padding:0;">

<th align=left style="font-family: 'Comfortaa', cursive; font-size: 36px; text-shadow: 4px 4px 4px #aaa">nano<font color="#ba5836">msg</font><sup style="font-family: 'Arial', sans; font-size: 14px; color: #aaa; text-shadow: none">&trade;</sup>
<font color="#808080">next generation</font></th>

<th rowspan=2 align=right style="font-family: 'Comfortaa', cursive; font-size: 36px;text-shadow: 4px 4px 4px #aaa;">NN<font color="#ba5836">G</font><sup style="font-family: 'Arial', sans; font-size: 14px; color: #aaa; text-shadow: none">&trade;</sup>
&nbsp;
</th>
</tr>

<tr style="font-family: 'Open Sans', sans-serif; font-size: 18px; color:black;">
<th align="left">
<a href="/nng/index.html">Home</a> <a href="https://github.com/nanomsg/nng">GitHub</a> <a href="/nng/man/">Documentation</a>
</th>
</tr>
</table>
