<header class="nn-header">
        <div class="nn-header-inner">
                <a href="https://nng.nanomsg.org" class="nn-logo">
                        <span class="nn-black">NN</span><span class="nn-tan">G</span>
                </a>

                <ul class="nn-nav-menu">
                        <li class="nn-nav-item">
                                <a href="https://nng.nanomsg.org/man/" class="nn-nav-link">Documentation</a>
                        </li>
                        <li class="nn-nav-item">
                                <a href="https://discord.gg/Xnac6b9" class="nn-nav-link">Discord</a>
                        </li>

                        <li class="nn-nav-item">
                                <a href="https://github.com/nanomsg/nng" class="nn-nav-link">GitHub</a>
                        </li>
                </ul>
        </div>
</header>
