<footer class="nn-footer">
        <div class="nn-footer-inner nn-tan">
                <small>
                        &copy; 2020 <a href="mailto:garrett@damore.org">Garrett D'Amore</a> and
                        contributors.</a>
                        <br />
                        nanomsg&trade; and NNG&trade; are <a href="https://nanomsg.org/trademarks.html">trademarks</a>
                        of Garrett
                        D'Amore.
                </small>
        </div>
</footer>