---
version: tip
layout: manpage
title: nngcat(1)
---
<nav id="toc" class="toc2">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1
">
<li>Commands and Utilities</li>
<ul class="sectlevel2">
<li><a href="nngcat.1.html">nngcat</a></li>
</ul>
<li>Library Functions</li>
<ul class="sectlevel2">
<li><a href="libnng.3.html">libnng</a></li>
<li><a href="nng_aio_abort.3.html">nng_aio_abort</a></li>
<li><a href="nng_aio_alloc.3.html">nng_aio_alloc</a></li>
<li><a href="nng_aio_begin.3.html">nng_aio_begin</a></li>
<li><a href="nng_aio_cancel.3.html">nng_aio_cancel</a></li>
<li><a href="nng_aio_count.3.html">nng_aio_count</a></li>
<li><a href="nng_aio_defer.3.html">nng_aio_defer</a></li>
<li><a href="nng_aio_finish.3.html">nng_aio_finish</a></li>
<li><a href="nng_aio_free.3.html">nng_aio_free</a></li>
<li><a href="nng_aio_get_input.3.html">nng_aio_get_input</a></li>
<li><a href="nng_aio_get_msg.3.html">nng_aio_get_msg</a></li>
<li><a href="nng_aio_get_output.3.html">nng_aio_get_output</a></li>
<li><a href="nng_aio_result.3.html">nng_aio_result</a></li>
<li><a href="nng_aio_set_input.3.html">nng_aio_set_input</a></li>
<li><a href="nng_aio_set_iov.3.html">nng_aio_set_iov</a></li>
<li><a href="nng_aio_set_msg.3.html">nng_aio_set_msg</a></li>
<li><a href="nng_aio_set_output.3.html">nng_aio_set_output</a></li>
<li><a href="nng_aio_set_timeout.3.html">nng_aio_set_timeout</a></li>
<li><a href="nng_aio_stop.3.html">nng_aio_stop</a></li>
<li><a href="nng_aio_wait.3.html">nng_aio_wait</a></li>
<li><a href="nng_alloc.3.html">nng_alloc</a></li>
<li><a href="nng_bus_open.3.html">nng_bus_open</a></li>
<li><a href="nng_close.3.html">nng_close</a></li>
<li><a href="nng_ctx_close.3.html">nng_ctx_close</a></li>
<li><a href="nng_ctx_get.3.html">nng_ctx_get</a></li>
<li><a href="nng_ctx_getopt.3.html">nng_ctx_getopt</a></li>
<li><a href="nng_ctx_id.3.html">nng_ctx_id</a></li>
<li><a href="nng_ctx_open.3.html">nng_ctx_open</a></li>
<li><a href="nng_ctx_recv.3.html">nng_ctx_recv</a></li>
<li><a href="nng_ctx_send.3.html">nng_ctx_send</a></li>
<li><a href="nng_ctx_set.3.html">nng_ctx_set</a></li>
<li><a href="nng_ctx_setopt.3.html">nng_ctx_setopt</a></li>
<li><a href="nng_device.3.html">nng_device</a></li>
<li><a href="nng_dial.3.html">nng_dial</a></li>
<li><a href="nng_dialer_close.3.html">nng_dialer_close</a></li>
<li><a href="nng_dialer_create.3.html">nng_dialer_create</a></li>
<li><a href="nng_dialer_get.3.html">nng_dialer_get</a></li>
<li><a href="nng_dialer_getopt.3.html">nng_dialer_getopt</a></li>
<li><a href="nng_dialer_id.3.html">nng_dialer_id</a></li>
<li><a href="nng_dialer_set.3.html">nng_dialer_set</a></li>
<li><a href="nng_dialer_setopt.3.html">nng_dialer_setopt</a></li>
<li><a href="nng_dialer_start.3.html">nng_dialer_start</a></li>
<li><a href="nng_free.3.html">nng_free</a></li>
<li><a href="nng_getopt.3.html">nng_getopt</a></li>
<li><a href="nng_inproc_register.3.html">nng_inproc_register</a></li>
<li><a href="nng_ipc_register.3.html">nng_ipc_register</a></li>
<li><a href="nng_listen.3.html">nng_listen</a></li>
<li><a href="nng_listener_close.3.html">nng_listener_close</a></li>
<li><a href="nng_listener_create.3.html">nng_listener_create</a></li>
<li><a href="nng_listener_get.3.html">nng_listener_get</a></li>
<li><a href="nng_listener_getopt.3.html">nng_listener_getopt</a></li>
<li><a href="nng_listener_id.3.html">nng_listener_id</a></li>
<li><a href="nng_listener_set.3.html">nng_listener_set</a></li>
<li><a href="nng_listener_setopt.3.html">nng_listener_setopt</a></li>
<li><a href="nng_listener_start.3.html">nng_listener_start</a></li>
<li><a href="nng_msg_alloc.3.html">nng_msg_alloc</a></li>
<li><a href="nng_msg_append.3.html">nng_msg_append</a></li>
<li><a href="nng_msg_body.3.html">nng_msg_body</a></li>
<li><a href="nng_msg_chop.3.html">nng_msg_chop</a></li>
<li><a href="nng_msg_clear.3.html">nng_msg_clear</a></li>
<li><a href="nng_msg_dup.3.html">nng_msg_dup</a></li>
<li><a href="nng_msg_free.3.html">nng_msg_free</a></li>
<li><a href="nng_msg_get_pipe.3.html">nng_msg_get_pipe</a></li>
<li><a href="nng_msg_header.3.html">nng_msg_header</a></li>
<li><a href="nng_msg_header_append.3.html">nng_msg_header_append</a></li>
<li><a href="nng_msg_header_chop.3.html">nng_msg_header_chop</a></li>
<li><a href="nng_msg_header_clear.3.html">nng_msg_header_clear</a></li>
<li><a href="nng_msg_header_insert.3.html">nng_msg_header_insert</a></li>
<li><a href="nng_msg_header_len.3.html">nng_msg_header_len</a></li>
<li><a href="nng_msg_header_trim.3.html">nng_msg_header_trim</a></li>
<li><a href="nng_msg_insert.3.html">nng_msg_insert</a></li>
<li><a href="nng_msg_len.3.html">nng_msg_len</a></li>
<li><a href="nng_msg_realloc.3.html">nng_msg_realloc</a></li>
<li><a href="nng_msg_set_pipe.3.html">nng_msg_set_pipe</a></li>
<li><a href="nng_msg_trim.3.html">nng_msg_trim</a></li>
<li><a href="nng_pair_open.3.html">nng_pair_open</a></li>
<li><a href="nng_pipe_close.3.html">nng_pipe_close</a></li>
<li><a href="nng_pipe_dialer.3.html">nng_pipe_dialer</a></li>
<li><a href="nng_pipe_get.3.html">nng_pipe_get</a></li>
<li><a href="nng_pipe_getopt.3.html">nng_pipe_getopt</a></li>
<li><a href="nng_pipe_id.3.html">nng_pipe_id</a></li>
<li><a href="nng_pipe_listener.3.html">nng_pipe_listener</a></li>
<li><a href="nng_pipe_notify.3.html">nng_pipe_notify</a></li>
<li><a href="nng_pipe_socket.3.html">nng_pipe_socket</a></li>
<li><a href="nng_pub_open.3.html">nng_pub_open</a></li>
<li><a href="nng_pull_open.3.html">nng_pull_open</a></li>
<li><a href="nng_push_open.3.html">nng_push_open</a></li>
<li><a href="nng_recv.3.html">nng_recv</a></li>
<li><a href="nng_recv_aio.3.html">nng_recv_aio</a></li>
<li><a href="nng_recvmsg.3.html">nng_recvmsg</a></li>
<li><a href="nng_rep_open.3.html">nng_rep_open</a></li>
<li><a href="nng_req_open.3.html">nng_req_open</a></li>
<li><a href="nng_respondent_open.3.html">nng_respondent_open</a></li>
<li><a href="nng_send.3.html">nng_send</a></li>
<li><a href="nng_send_aio.3.html">nng_send_aio</a></li>
<li><a href="nng_sendmsg.3.html">nng_sendmsg</a></li>
<li><a href="nng_setopt.3.html">nng_setopt</a></li>
<li><a href="nng_sleep_aio.3.html">nng_sleep_aio</a></li>
<li><a href="nng_socket_get.3.html">nng_socket_get</a></li>
<li><a href="nng_socket_id.3.html">nng_socket_id</a></li>
<li><a href="nng_socket_set.3.html">nng_socket_set</a></li>
<li><a href="nng_stat_child.3.html">nng_stat_child</a></li>
<li><a href="nng_stat_desc.3.html">nng_stat_desc</a></li>
<li><a href="nng_stat_find.3.html">nng_stat_find</a></li>
<li><a href="nng_stat_find_dialer.3.html">nng_stat_find_dialer</a></li>
<li><a href="nng_stat_find_listener.3.html">nng_stat_find_listener</a></li>
<li><a href="nng_stat_find_socket.3.html">nng_stat_find_socket</a></li>
<li><a href="nng_stat_name.3.html">nng_stat_name</a></li>
<li><a href="nng_stat_next.3.html">nng_stat_next</a></li>
<li><a href="nng_stat_string.3.html">nng_stat_string</a></li>
<li><a href="nng_stat_timestamp.3.html">nng_stat_timestamp</a></li>
<li><a href="nng_stat_type.3.html">nng_stat_type</a></li>
<li><a href="nng_stat_unit.3.html">nng_stat_unit</a></li>
<li><a href="nng_stat_value.3.html">nng_stat_value</a></li>
<li><a href="nng_stats_free.3.html">nng_stats_free</a></li>
<li><a href="nng_stats_get.3.html">nng_stats_get</a></li>
<li><a href="nng_strdup.3.html">nng_strdup</a></li>
<li><a href="nng_strerror.3.html">nng_strerror</a></li>
<li><a href="nng_strfree.3.html">nng_strfree</a></li>
<li><a href="nng_sub_open.3.html">nng_sub_open</a></li>
<li><a href="nng_surveyor_open.3.html">nng_surveyor_open</a></li>
<li><a href="nng_tcp_register.3.html">nng_tcp_register</a></li>
<li><a href="nng_tls_register.3.html">nng_tls_register</a></li>
<li><a href="nng_url_clone.3.html">nng_url_clone</a></li>
<li><a href="nng_url_free.3.html">nng_url_free</a></li>
<li><a href="nng_url_parse.3.html">nng_url_parse</a></li>
<li><a href="nng_version.3.html">nng_version</a></li>
<li><a href="nng_ws_register.3.html">nng_ws_register</a></li>
<li><a href="nng_wss_register.3.html">nng_wss_register</a></li>
<li><a href="nng_zt_register.3.html">nng_zt_register</a></li>
</ul>
<li>Compatible Library Functions</li>
<ul class="sectlevel2">
<li><a href="nn_allocmsg.3compat.html">nn_allocmsg</a></li>
<li><a href="nn_bind.3compat.html">nn_bind</a></li>
<li><a href="nn_close.3compat.html">nn_close</a></li>
<li><a href="nn_cmsg.3compat.html">nn_cmsg</a></li>
<li><a href="nn_connect.3compat.html">nn_connect</a></li>
<li><a href="nn_device.3compat.html">nn_device</a></li>
<li><a href="nn_errno.3compat.html">nn_errno</a></li>
<li><a href="nn_freemsg.3compat.html">nn_freemsg</a></li>
<li><a href="nn_get_statistic.3compat.html">nn_get_statistic</a></li>
<li><a href="nn_getsockopt.3compat.html">nn_getsockopt</a></li>
<li><a href="nn_poll.3compat.html">nn_poll</a></li>
<li><a href="nn_reallocmsg.3compat.html">nn_reallocmsg</a></li>
<li><a href="nn_recv.3compat.html">nn_recv</a></li>
<li><a href="nn_recvmsg.3compat.html">nn_recvmsg</a></li>
<li><a href="nn_send.3compat.html">nn_send</a></li>
<li><a href="nn_sendmsg.3compat.html">nn_sendmsg</a></li>
<li><a href="nn_setsockopt.3compat.html">nn_setsockopt</a></li>
<li><a href="nn_shutdown.3compat.html">nn_shutdown</a></li>
<li><a href="nn_socket.3compat.html">nn_socket</a></li>
<li><a href="nn_strerror.3compat.html">nn_strerror</a></li>
<li><a href="nn_term.3compat.html">nn_term</a></li>
<li><a href="nng_compat.3compat.html">nng_compat</a></li>
</ul>
<li>Supplemental HTTP Functions</li>
<ul class="sectlevel2">
<li><a href="nng_http_client_alloc.3http.html">nng_http_client_alloc</a></li>
<li><a href="nng_http_client_connect.3http.html">nng_http_client_connect</a></li>
<li><a href="nng_http_client_free.3http.html">nng_http_client_free</a></li>
<li><a href="nng_http_client_get_tls.3http.html">nng_http_client_get_tls</a></li>
<li><a href="nng_http_client_set_tls.3http.html">nng_http_client_set_tls</a></li>
<li><a href="nng_http_client_transact.3http.html">nng_http_client_transact</a></li>
<li><a href="nng_http_conn_close.3http.html">nng_http_conn_close</a></li>
<li><a href="nng_http_conn_read.3http.html">nng_http_conn_read</a></li>
<li><a href="nng_http_conn_read_all.3http.html">nng_http_conn_read_all</a></li>
<li><a href="nng_http_conn_read_req.3http.html">nng_http_conn_read_req</a></li>
<li><a href="nng_http_conn_read_res.3http.html">nng_http_conn_read_res</a></li>
<li><a href="nng_http_conn_transact.3http.html">nng_http_conn_transact</a></li>
<li><a href="nng_http_conn_write.3http.html">nng_http_conn_write</a></li>
<li><a href="nng_http_conn_write_all.3http.html">nng_http_conn_write_all</a></li>
<li><a href="nng_http_conn_write_req.3http.html">nng_http_conn_write_req</a></li>
<li><a href="nng_http_conn_write_res.3http.html">nng_http_conn_write_res</a></li>
<li><a href="nng_http_handler_alloc.3http.html">nng_http_handler_alloc</a></li>
<li><a href="nng_http_handler_collect_body.3http.html">nng_http_handler_collect_body</a></li>
<li><a href="nng_http_handler_free.3http.html">nng_http_handler_free</a></li>
<li><a href="nng_http_handler_get_data.3http.html">nng_http_handler_get_data</a></li>
<li><a href="nng_http_handler_set_data.3http.html">nng_http_handler_set_data</a></li>
<li><a href="nng_http_handler_set_host.3http.html">nng_http_handler_set_host</a></li>
<li><a href="nng_http_handler_set_method.3http.html">nng_http_handler_set_method</a></li>
<li><a href="nng_http_handler_set_tree.3http.html">nng_http_handler_set_tree</a></li>
<li><a href="nng_http_hijack.3http.html">nng_http_hijack</a></li>
<li><a href="nng_http_req_add_header.3http.html">nng_http_req_add_header</a></li>
<li><a href="nng_http_req_alloc.3http.html">nng_http_req_alloc</a></li>
<li><a href="nng_http_req_copy_data.3http.html">nng_http_req_copy_data</a></li>
<li><a href="nng_http_req_del_header.3http.html">nng_http_req_del_header</a></li>
<li><a href="nng_http_req_free.3http.html">nng_http_req_free</a></li>
<li><a href="nng_http_req_get_data.3http.html">nng_http_req_get_data</a></li>
<li><a href="nng_http_req_get_header.3http.html">nng_http_req_get_header</a></li>
<li><a href="nng_http_req_get_method.3http.html">nng_http_req_get_method</a></li>
<li><a href="nng_http_req_get_uri.3http.html">nng_http_req_get_uri</a></li>
<li><a href="nng_http_req_get_version.3http.html">nng_http_req_get_version</a></li>
<li><a href="nng_http_req_reset.3http.html">nng_http_req_reset</a></li>
<li><a href="nng_http_req_set_data.3http.html">nng_http_req_set_data</a></li>
<li><a href="nng_http_req_set_header.3http.html">nng_http_req_set_header</a></li>
<li><a href="nng_http_req_set_method.3http.html">nng_http_req_set_method</a></li>
<li><a href="nng_http_req_set_uri.3http.html">nng_http_req_set_uri</a></li>
<li><a href="nng_http_req_set_version.3http.html">nng_http_req_set_version</a></li>
<li><a href="nng_http_res_add_header.3http.html">nng_http_res_add_header</a></li>
<li><a href="nng_http_res_alloc.3http.html">nng_http_res_alloc</a></li>
<li><a href="nng_http_res_alloc_error.3http.html">nng_http_res_alloc_error</a></li>
<li><a href="nng_http_res_copy_data.3http.html">nng_http_res_copy_data</a></li>
<li><a href="nng_http_res_del_header.3http.html">nng_http_res_del_header</a></li>
<li><a href="nng_http_res_free.3http.html">nng_http_res_free</a></li>
<li><a href="nng_http_res_get_data.3http.html">nng_http_res_get_data</a></li>
<li><a href="nng_http_res_get_header.3http.html">nng_http_res_get_header</a></li>
<li><a href="nng_http_res_get_reason.3http.html">nng_http_res_get_reason</a></li>
<li><a href="nng_http_res_get_status.3http.html">nng_http_res_get_status</a></li>
<li><a href="nng_http_res_get_version.3http.html">nng_http_res_get_version</a></li>
<li><a href="nng_http_res_reset.3http.html">nng_http_res_reset</a></li>
<li><a href="nng_http_res_set_data.3http.html">nng_http_res_set_data</a></li>
<li><a href="nng_http_res_set_header.3http.html">nng_http_res_set_header</a></li>
<li><a href="nng_http_res_set_reason.3http.html">nng_http_res_set_reason</a></li>
<li><a href="nng_http_res_set_status.3http.html">nng_http_res_set_status</a></li>
<li><a href="nng_http_res_set_version.3http.html">nng_http_res_set_version</a></li>
<li><a href="nng_http_server_add_handler.3http.html">nng_http_server_add_handler</a></li>
<li><a href="nng_http_server_del_handler.3http.html">nng_http_server_del_handler</a></li>
<li><a href="nng_http_server_get_addr.3http.html">nng_http_server_get_addr</a></li>
<li><a href="nng_http_server_get_tls.3http.html">nng_http_server_get_tls</a></li>
<li><a href="nng_http_server_hold.3http.html">nng_http_server_hold</a></li>
<li><a href="nng_http_server_release.3http.html">nng_http_server_release</a></li>
<li><a href="nng_http_server_res_error.3http.html">nng_http_server_res_error</a></li>
<li><a href="nng_http_server_set_error_file.3http.html">nng_http_server_set_error_file</a></li>
<li><a href="nng_http_server_set_error_page.3http.html">nng_http_server_set_error_page</a></li>
<li><a href="nng_http_server_set_tls.3http.html">nng_http_server_set_tls</a></li>
<li><a href="nng_http_server_start.3http.html">nng_http_server_start</a></li>
<li><a href="nng_http_server_stop.3http.html">nng_http_server_stop</a></li>
</ul>
<li>Supplemental TCP Functions</li>
<ul class="sectlevel2">
<li><a href="nng_stream_close.3str.html">nng_stream_close</a></li>
<li><a href="nng_stream_dialer_alloc.3str.html">nng_stream_dialer_alloc</a></li>
<li><a href="nng_stream_dialer_close.3str.html">nng_stream_dialer_close</a></li>
<li><a href="nng_stream_dialer_dial.3str.html">nng_stream_dialer_dial</a></li>
<li><a href="nng_stream_dialer_free.3str.html">nng_stream_dialer_free</a></li>
<li><a href="nng_stream_dialer_get.3str.html">nng_stream_dialer_get</a></li>
<li><a href="nng_stream_dialer_set.3str.html">nng_stream_dialer_set</a></li>
<li><a href="nng_stream_free.3str.html">nng_stream_free</a></li>
<li><a href="nng_stream_get.3str.html">nng_stream_get</a></li>
<li><a href="nng_stream_listener_accept.3str.html">nng_stream_listener_accept</a></li>
<li><a href="nng_stream_listener_alloc.3str.html">nng_stream_listener_alloc</a></li>
<li><a href="nng_stream_listener_close.3str.html">nng_stream_listener_close</a></li>
<li><a href="nng_stream_listener_free.3str.html">nng_stream_listener_free</a></li>
<li><a href="nng_stream_listener_get.3str.html">nng_stream_listener_get</a></li>
<li><a href="nng_stream_listener_listen.3str.html">nng_stream_listener_listen</a></li>
<li><a href="nng_stream_listener_set.3str.html">nng_stream_listener_set</a></li>
<li><a href="nng_stream_recv.3str.html">nng_stream_recv</a></li>
<li><a href="nng_stream_send.3str.html">nng_stream_send</a></li>
<li><a href="nng_stream_set.3str.html">nng_stream_set</a></li>
</ul>
<li>Supplemental Functions</li>
<ul class="sectlevel2">
<li><a href="nng_clock.3supp.html">nng_clock</a></li>
<li><a href="nng_cv_alloc.3supp.html">nng_cv_alloc</a></li>
<li><a href="nng_cv_free.3supp.html">nng_cv_free</a></li>
<li><a href="nng_cv_until.3supp.html">nng_cv_until</a></li>
<li><a href="nng_cv_wait.3supp.html">nng_cv_wait</a></li>
<li><a href="nng_cv_wake.3supp.html">nng_cv_wake</a></li>
<li><a href="nng_cv_wake1.3supp.html">nng_cv_wake1</a></li>
<li><a href="nng_msleep.3supp.html">nng_msleep</a></li>
<li><a href="nng_mtx_alloc.3supp.html">nng_mtx_alloc</a></li>
<li><a href="nng_mtx_free.3supp.html">nng_mtx_free</a></li>
<li><a href="nng_mtx_lock.3supp.html">nng_mtx_lock</a></li>
<li><a href="nng_mtx_unlock.3supp.html">nng_mtx_unlock</a></li>
<li><a href="nng_opts_parse.3supp.html">nng_opts_parse</a></li>
<li><a href="nng_random.3supp.html">nng_random</a></li>
<li><a href="nng_thread_create.3supp.html">nng_thread_create</a></li>
<li><a href="nng_thread_destroy.3supp.html">nng_thread_destroy</a></li>
</ul>
<li>Supplemental TLS Functions</li>
<ul class="sectlevel2">
<li><a href="nng_tls_config_alloc.3tls.html">nng_tls_config_alloc</a></li>
<li><a href="nng_tls_config_auth_mode.3tls.html">nng_tls_config_auth_mode</a></li>
<li><a href="nng_tls_config_ca_chain.3tls.html">nng_tls_config_ca_chain</a></li>
<li><a href="nng_tls_config_ca_file.3tls.html">nng_tls_config_ca_file</a></li>
<li><a href="nng_tls_config_cert_key_file.3tls.html">nng_tls_config_cert_key_file</a></li>
<li><a href="nng_tls_config_free.3tls.html">nng_tls_config_free</a></li>
<li><a href="nng_tls_config_hold.3tls.html">nng_tls_config_hold</a></li>
<li><a href="nng_tls_config_own_cert.3tls.html">nng_tls_config_own_cert</a></li>
<li><a href="nng_tls_config_server_name.3tls.html">nng_tls_config_server_name</a></li>
</ul>
<li>Macros and Types</li>
<ul class="sectlevel2">
<li><a href="nng_aio.5.html">nng_aio</a></li>
<li><a href="nng_ctx.5.html">nng_ctx</a></li>
<li><a href="nng_dialer.5.html">nng_dialer</a></li>
<li><a href="nng_duration.5.html">nng_duration</a></li>
<li><a href="nng_iov.5.html">nng_iov</a></li>
<li><a href="nng_ipc_options.5.html">nng_ipc_options</a></li>
<li><a href="nng_listener.5.html">nng_listener</a></li>
<li><a href="nng_msg.5.html">nng_msg</a></li>
<li><a href="nng_options.5.html">nng_options</a></li>
<li><a href="nng_pipe.5.html">nng_pipe</a></li>
<li><a href="nng_sockaddr.5.html">nng_sockaddr</a></li>
<li><a href="nng_sockaddr_in.5.html">nng_sockaddr_in</a></li>
<li><a href="nng_sockaddr_in6.5.html">nng_sockaddr_in6</a></li>
<li><a href="nng_sockaddr_inproc.5.html">nng_sockaddr_inproc</a></li>
<li><a href="nng_sockaddr_ipc.5.html">nng_sockaddr_ipc</a></li>
<li><a href="nng_sockaddr_zt.5.html">nng_sockaddr_zt</a></li>
<li><a href="nng_socket.5.html">nng_socket</a></li>
<li><a href="nng_stat.5.html">nng_stat</a></li>
<li><a href="nng_stream.5.html">nng_stream</a></li>
<li><a href="nng_stream_dialer.5.html">nng_stream_dialer</a></li>
<li><a href="nng_stream_listener.5.html">nng_stream_listener</a></li>
<li><a href="nng_tcp.5.html">nng_tcp</a></li>
<li><a href="nng_tcp_options.5.html">nng_tcp_options</a></li>
<li><a href="nng_tls.5.html">nng_tls</a></li>
<li><a href="nng_tls_config.5.html">nng_tls_config</a></li>
<li><a href="nng_tls_options.5.html">nng_tls_options</a></li>
</ul>
<li>Protocols and Transports</li>
<ul class="sectlevel2">
<li><a href="nng.7.html">nng</a></li>
<li><a href="nng_bus.7.html">nng_bus</a></li>
<li><a href="nng_inproc.7.html">nng_inproc</a></li>
<li><a href="nng_ipc.7.html">nng_ipc</a></li>
<li><a href="nng_pair.7.html">nng_pair</a></li>
<li><a href="nng_pub.7.html">nng_pub</a></li>
<li><a href="nng_pull.7.html">nng_pull</a></li>
<li><a href="nng_push.7.html">nng_push</a></li>
<li><a href="nng_rep.7.html">nng_rep</a></li>
<li><a href="nng_req.7.html">nng_req</a></li>
<li><a href="nng_respondent.7.html">nng_respondent</a></li>
<li><a href="nng_sub.7.html">nng_sub</a></li>
<li><a href="nng_surveyor.7.html">nng_surveyor</a></li>
<li><a href="nng_tcp.7.html">nng_tcp</a></li>
<li><a href="nng_tls.7.html">nng_tls</a></li>
<li><a href="nng_ws.7.html">nng_ws</a></li>
<li><a href="nng_zerotier.7.html">nng_zerotier</a></li>
</ul>
</ul>
</nav>
<main>
{% if page.version and page.version != site.latest  %}
{% if page.version == "tip" %}
{% include manpage-tip.html %}
{% else %}
{% include manpage-old.html %}
{% endif %}
{% endif %}
<div id="header">
<h1>nngcat(1) Manual Page</h1>
<h2 id="_name">NAME</h2>
<div class="sectionbody">
<p>nngcat - command line access to Scalability Protocols</p>
</div>
</div>
<div id="content">
<div class="sect1">
<h2 id="_synopsis">SYNOPSIS</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>nngcat</strong> --help</p>
</div>
<div class="paragraph">
<p><strong>nngcat</strong> --version</p>
</div>
<div class="paragraph">
<p><strong>nngcat</strong> [<em>OPTION</em>]&#8230;&#8203;</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_description">DESCRIPTION</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <em>nngcat</em> utility provides command line access to the Scalability
Protocols, making it possible to write shell scripts that interact
with other peers in a Scalability Protocols topology, by both sending and
receiving messages.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_options">OPTIONS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The possible values for <em>OPTION</em> are described below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The <em>nngcat</em> utility accepts shortened versions of these options, as long
as the supplied option is unambiguous.
For example <code>--comp</code> can be used in lieu
of <code>--compat</code>, but <code>--re</code> may not be used for anything because it could mean
any of <code>--req</code>, <code>--rep</code>, or <code>--respondent</code>.
</td>
</tr>
</table>
</div>
<div class="paragraph">
<p>When using the long form of an option (names prefixed with with <code>--</code>), if the
option takes a value then the value may be supplied by appending the option
with an equals sign and the value (e.g. <code>--subscribe=times</code>), by appending
the option with a colon and the value (e.g. <code>--subscribe:tribune</code>) or by
providing the data as the next program argument (e.g. <code>--subscribe herald</code>).</p>
</div>
<div class="paragraph">
<p>When using short form options (a single letter prefixed with a <code>-</code>),
if the option takes a value it may either be immediately appended to
the value (e.g. <code>-L5678</code>) or provided as the next program argument
(e.g. <code>-L 5678</code>).</p>
</div>
<div class="paragraph">
<p>POSIX style option clustering of single letter options is not supported;
each option must be presented as a separate argument to the program.</p>
</div>
<div class="sect2">
<h3 id="_generic_options">Generic Options</h3>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>-h, --help</strong></dt>
<dd>
<p>Get usage help.</p>
</dd>
<dt class="hdlist1"><strong>-V, --version</strong></dt>
<dd>
<p>Print the version and exit.</p>
</dd>
<dt class="hdlist1"><strong>-v, --verbose</strong></dt>
<dd>
<p>Select verbose operation.</p>
</dd>
<dt class="hdlist1"><strong>-q, --silent</strong></dt>
<dd>
<p>Select silent operation.</p>
</dd>
<dt class="hdlist1"><strong>--compat</strong></dt>
<dd>
<p>Compatible mode.
This cause <em>nngcat</em> to behave more like the legacy
<em>nanocat</em> application.
In this mode connections are made asynchronously,
and the <strong>--pair</strong> option selects version 0 of
the <a href="nng_pair.7.html"><em>pair</em></a> protocol instead of version 1.</p>
</dd>
<dt class="hdlist1"><strong>--subscribe</strong>=<em>TOPIC</em></dt>
<dd>
<p>Subscribe to <em>TOPIC</em>.  This option can only be used with the
<a href="nng_sub.7.html"><em>sub</em></a> protocol.
The <em>TOPIC</em> is checked against the first bytes
of messages received, and messages are discarded if they do not match.
This may be specified multiple times to subscribe to multiple topics.
If not specified at all, then a default subscription to everything is assumed.</p>
</dd>
<dt class="hdlist1"><strong>--count=</strong>=<em>COUNT</em></dt>
<dd>
<p>Limit the number of iterations when looping to <em>COUNT</em> iterations.
For protocols that only send, this will only send <em>COUNT</em> messages before
exiting.
For protocols that only receive, this will only receive <em>COUNT</em> messages
before exiting.
For protocols that involve a full exchange, this will only perform <em>COUNT</em>
exchanges (each exchange is characterized by at most a single send, and
one or more receives.)
If <em>COUNT</em> is zero, then an infinite number of iterations is performed.</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_protocol_selection_options">Protocol Selection Options</h3>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
At least one protocol must be selected.
</td>
</tr>
</table>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>--bus, --bus0</strong></dt>
<dd>
<p>Select the <a href="nng_bus.7.html"><em>bus</em></a> version 0 protocol.
This protocol can send and receive messages to and from other <em>bus</em> version 0
peers.</p>
</dd>
<dt class="hdlist1"><strong>--req, --req0</strong></dt>
<dd>
<p>Select the <a href="nng_req.7.html"><em>req</em></a> version 0 protocol.
This protocol sends messages to <a href="nng_rep.7.html"><em>rep</em></a> version 0
peers and receives replies from them.</p>
</dd>
<dt class="hdlist1"><strong>--rep, --rep0</strong></dt>
<dd>
<p>Select the <a href="nng_rep.7.html"><em>rep</em></a> version 0 protocol.
This protocol receives messages from <a href="nng_req.7.html"><em>req</em></a> version 0 peers
and can send replies to them.</p>
</dd>
<dt class="hdlist1"><strong>--pub, --pub0</strong></dt>
<dd>
<p>Select the <a href="nng_pub.7.html"><em>pub</em></a> version 0 protocol.
This protocol sends messages to <a href="nng_sub.7.html"><em>sub</em></a> version peers.</p>
</dd>
<dt class="hdlist1"><strong>--sub, --sub0</strong></dt>
<dd>
<p>Select the <a href="nng_sub.7.html"><em>sub</em></a> version 0 protocol.
This protocol receives messages from <a href="nng_pub.7.html"><em>pub</em></a> version
0 peers, and filters them based on subscriptions set with <strong>--subscribe</strong>.</p>
</dd>
<dt class="hdlist1"><strong>--push, --push0</strong></dt>
<dd>
<p>Select the <a href="nng_push.7.html"><em>push</em></a> version 0 protocol.
This protocol sends messages to <a href="nng_pull.7.html"><em>pull</em></a> version 0 peers.
A given message is normally only delivered to a single peer.</p>
</dd>
<dt class="hdlist1"><strong>--pull, --pull0</strong></dt>
<dd>
<p>Select the <a href="nng_pull.7.html"><em>pull</em></a> version 0 protocol.
This protocol receives
messages from <a href="nng_push.7.html"><em>push</em></a> version 0 peers.</p>
</dd>
<dt class="hdlist1"><strong>--pair0</strong></dt>
<dd>
<p>Select the <a href="nng_pair.7.html"><em>pair</em></a> version 0 protocol.
This protocol can send and receive messages with one connected <em>pair</em>
version 0 peer.</p>
</dd>
<dt class="hdlist1"><strong>--pair1</strong></dt>
<dd>
<p>Select the <a href="nng_pair.7.html"><em>pair</em></a> version 1 protocol.
This protocol can send and receive messages with one connected <em>pair</em>
version 1 peer.
It is not supported in <strong>--compat</strong> mode.
(Polyamorous mode is not supported
in <em>nngcat</em>, although peers may be using polyamorous mode.)</p>
</dd>
<dt class="hdlist1"><strong>--pair</strong></dt>
<dd>
<p>Acts as an alias for <strong>--pair1</strong>, unless <strong>--compat</strong> mode is selected, in
which case it acts as an alias for <strong>--pair0</strong>.</p>
</dd>
<dt class="hdlist1"><strong>--surveyor, --surveyor0</strong></dt>
<dd>
<p>Select the <a href="nng_surveyor.7.html"><em>surveyor</em></a> version 0 protocol.
This protocol sends a survey request to <a href="nng_respondent.7.html"><em>respondent</em></a>
version 0 peers, and then receives replies from them.</p>
</dd>
<dt class="hdlist1"><strong>--respondent, --respondent0</strong></dt>
<dd>
<p>Select the <a href="nng_respondent.7.html"><em>respondent</em></a> version 0 protocol.
This protocol receives survey requests from <a href="nng_surveyor.7.html"><em>surveyor</em></a>
version 0 peers, and can send a reply to them.</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_peer_selection_options">Peer Selection Options</h3>
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
At least one peer address must be selected.
</td>
</tr>
</table>
</div>
<div class="admonitionblock tip">
<table>
<tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
While legacy <em>nanocat</em> only supported one peer, <em>nng</em> can support
more than one peer on a given connection.
</td>
</tr>
</table>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>--connect, --dial</strong>=<em>URL</em></dt>
<dd>
<p>Connect to the peer at the address specified by <em>URL</em>.</p>
</dd>
<dt class="hdlist1"><strong>--bind, --listen</strong>=<em>URL</em></dt>
<dd>
<p>Bind to, and accept connections from peers, at the address specified by <em>URL</em>.</p>
</dd>
<dt class="hdlist1"><strong>-x, --connect-ipc</strong>=<em>PATH</em></dt>
<dd>
<p>Connect to the IPC path specified by <em>PATH</em>.  This is the same as
<strong>--connect</strong>=ipc://<em>PATH</em>.</p>
</dd>
<dt class="hdlist1"><strong>-X, --bind-ipc</strong>=<em>PATH</em></dt>
<dd>
<p>Bind to the IPC path specified by <em>PATH</em>.  This is the same as
<strong>--bind</strong>=ipc://<em>PATH</em>.</p>
</dd>
<dt class="hdlist1"><strong>-l, --connect-local</strong>=<em>PORT</em></dt>
<dd>
<p>Connect to <code>localhost</code> at the TCP port specified by <em>PORT</em>.  This is the same
as <strong>--connect</strong>=tcp://127.0.0.1:<em>PORT</em>.</p>
</dd>
<dt class="hdlist1"><strong>-L, --bind-local</strong>=<em>PORT</em></dt>
<dd>
<p>Bind to the TCP port specified by <em>PORT</em>.  This is the same as
<strong>--bind</strong>=tcp://127.0.0.1:<em>PORT</em>.</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_receive_options">Receive Options</h3>
<div class="paragraph">
<p>Data messages received can be formatted in different ways.
These options can only be specified when using a protocol that
receives messages.</p>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>-A, --ascii</strong></dt>
<dd>
<p>The same as specifying <strong>--format</strong>=<code>ascii</code>.</p>
</dd>
<dt class="hdlist1"><strong>-Q, --quoted</strong></dt>
<dd>
<p>The same as specifying <strong>--format</strong>=<code>quoted</code>.</p>
</dd>
<dt class="hdlist1"><strong>--hex</strong></dt>
<dd>
<p>The same as specifying <strong>--format</strong>=<code>hex</code>.</p>
</dd>
<dt class="hdlist1"><strong>--msgpack</strong></dt>
<dd>
<p>The same as specifying <strong>--format</strong>=<code>msgpack</code>.</p>
</dd>
<dt class="hdlist1"><strong>--raw</strong></dt>
<dd>
<p>The same as specifying <strong>--format</strong>=<code>raw</code>.</p>
</dd>
<dt class="hdlist1"><strong>--receive-timeout</strong>=<em>SEC</em></dt>
<dd>
<p>Give up receiving messages after <em>SEC</em> seconds pass without any received
messages.</p>
</dd>
<dt class="hdlist1"><strong>--recv-maxsz</strong>=<em>COUNT</em></dt>
<dd>
<p>Set the maximum message size socket will accept to <em>COUNT</em> bytes.
Messages larger than this will be discarded.
The default is 1048576 (1 MB).
To eliminate any restriction, use 0.</p>
</dd>
<dt class="hdlist1"><strong>--format</strong>=<em>FORMAT</em></dt>
<dd>
<p>Format data as indicated.  The <em>FORMAT</em> can be any of:</p>
<div class="dlist">
<dl>
<dt class="hdlist1"><code>no</code></dt>
<dd>
<p>No output at all.</p>
</dd>
<dt class="hdlist1"><code>raw</code></dt>
<dd>
<p>Raw output, every byte received is sent to standard output.</p>
</dd>
<dt class="hdlist1"><code>ascii</code></dt>
<dd>
<p>ASCII safe, printable ASCII is emitted verbatim, with other
bytes substituted with <code>.</code> (period).</p>
</dd>
<dt class="hdlist1"><code>quoted</code></dt>
<dd>
<p>Messages are printed as quoted strings, using C language
conventions.</p>
</dd>
<dt class="hdlist1"><code>hex</code></dt>
<dd>
<p> Messages are printed as quoted strings, with every byte appearing as an escaped hexadecimal value, such as <code>x2E</code>.</p>
</dd>
<dt class="hdlist1"><code>msgpack</code></dt>
<dd>
<p>
Messages are emitted as <a href="https://msgpack.org">MessagePack</a> "bin format"
(byte arrays).</p>
</dd>
</dl>
</div>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_transmit_options">Transmit Options</h3>
<div class="paragraph">
<p>Protocols that support sending data can use these options to select the data.</p>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>-D, --data</strong>=<em>DATA</em></dt>
<dd>
<p>Use <em>DATA</em> for the body of outgoing messages.</p>
</dd>
<dt class="hdlist1"><strong>-F, --file</strong>=<em>FILE</em></dt>
<dd>
<p>Use <em>FILE</em> for the body of outgoing messages.</p>
</dd>
<dt class="hdlist1"><strong>-i, --interval</strong>=<em>SEC</em></dt>
<dd>
<p>For protocols that send unsolicited data (as opposed to those that
send data only in response to received messages), this will resend the
outgoing message at repeating intervals of <em>SEC</em> seconds.</p>
</dd>
<dt class="hdlist1"><strong>-d, --delay</strong>=<em>SEC</em></dt>
<dd>
<p>Wait <em>SEC</em> seconds before sending the first outgoing message.
This is useful to let connections establish before sending data, thereby
avoiding message loss.</p>
</dd>
<dt class="hdlist1"><strong>--send-timeout</strong>=<em>SEC</em></dt>
<dd>
<p>Give up trying to send a message after <em>SEC</em> seconds.</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_tls_options">TLS Options</h3>
<div class="paragraph">
<p>These options are only present if TLS is configured; they are ignored
when using addresses that are not secured with TLS.</p>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>-k, --insecure</strong></dt>
<dd>
<p>Skip peer validation.</p>
</dd>
<dt class="hdlist1"><strong>-E, --cert</strong>=<em>FILE</em></dt>
<dd>
<p>Load own certificate from <em>FILE</em>.</p>
</dd>
<dt class="hdlist1"><strong>--key</strong>=<em>FILE</em></dt>
<dd>
<p>Load own key from <em>FILE</em>.
Should be used in conjunction with <strong>--cert</strong>.
If not specified, and <strong>--cert</strong> is specified, then a single file containing both
the private key and the associated certificate is assumed.</p>
</dd>
<dt class="hdlist1"><strong>--cacert</strong>=<em>FILE</em></dt>
<dd>
<p>Load CA certificates from <em>FILE</em>.
These CAs ("Certificate Authorities") are
used as trust roots when validating certificates presented by peers.</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_zerotier_options">ZeroTier Options</h3>
<div class="paragraph">
<p>These options are only present if ZeroTier is configured; they are ignored
otherwise.</p>
</div>
<div class="dlist">
<dl>
<dt class="hdlist1"><strong>--zt-home</strong>=<em>DIRECTORY</em></dt>
<dd>
<p>Directory for persistent ZeroTier node (key material, etc.)
This directory must already exist.
Only one program may use a ZeroTier node at a time;
file locking is used to prevent this.</p>
</dd>
</dl>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_examples">EXAMPLES</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="title">Echo service using request/reply.</div>
<div class="content">
<pre class="pygments highlight"><code data-lang="sh"><span></span>$ <span class="tok-nv">addr</span><span class="tok-o">=</span><span class="tok-s2">&quot;tcp://127.0.0.1:4567&quot;</span>
$ nngcat --rep --listen<span class="tok-o">=</span><span class="tok-si">${</span><span class="tok-nv">addr</span><span class="tok-si">}</span> --data<span class="tok-o">=</span><span class="tok-s2">&quot;42&quot;</span> --quoted <span class="tok-p">&amp;</span>
$ nngcat --req --dial<span class="tok-o">=</span><span class="tok-si">${</span><span class="tok-nv">addr</span><span class="tok-si">}</span> --data<span class="tok-o">=</span><span class="tok-s2">&quot;what is the answer?&quot;</span> --quoted
<span class="tok-s2">&quot;what is the answer?&quot;</span>
<span class="tok-s2">&quot;42&quot;</span></code></pre>
</div>
</div>
<div class="listingblock">
<div class="title">Send a chime every hour (3600 seconds).</div>
<div class="content">
<pre class="pygments highlight"><code data-lang="sh"><span></span>$ <span class="tok-nv">addr</span><span class="tok-o">=</span>ipc:///grandpa_clock
$ nngcat --pub --listen<span class="tok-o">=</span><span class="tok-si">${</span><span class="tok-nv">addr</span><span class="tok-si">}</span> --data <span class="tok-s2">&quot;cuckoo&quot;</span> --interval <span class="tok-m">3600</span> <span class="tok-p">&amp;</span>
$ nngcat --sub --dial<span class="tok-o">=</span><span class="tok-si">${</span><span class="tok-nv">addr</span><span class="tok-si">}</span> --quoted <span class="tok-p">&amp;</span>
<span class="tok-s2">&quot;cuckoo&quot;</span></code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="_see_also">SEE ALSO</h2>
<div class="sectionbody">
<div class="paragraph text-left">
<p><a href="libnng.3.html">libnng(3)</a>,
<a href="nng.7.html">nng(7)</a>,
<a href="nng_bus.7.html">nng_bus(7)</a>,
<a href="nng_pair.7.html">nng_pair(7)</a>,
<a href="nng_pub.7.html">nng_pub(7)</a>,
<a href="nng_pull.7.html">nng_pull(7)</a>,
<a href="nng_push.7.html">nng_push(7)</a>,
<a href="nng_sub.7.html">nng_sub(7)</a>,
<a href="nng_rep.7.html">nng_rep(7)</a>,
<a href="nng_req.7.html">nng_req(7)</a>,
<a href="nng_respondent.7.html">nng_respondent(7)</a>,
<a href="nng_surveyor.7.html">nng_surveyor(7)</a></p>
</div>
</div>
</div>
</div>
</main>
