<!doctype html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
                rel="stylesheet">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_2668178_wdjo3p78tv.css">
        <title>{{page.title}}</title>
</head>

<body class="article">
        {% include header-nng.html %}
        {% if page.url and page.url == site.index_path %}
        {% include nn-content.html %}
        {% else %}
        {{ content }}
        {% endif %}
        <div class="container">
                {% include footer-nng.html %}
        </div>
</body>

</html>